<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include('partials/header'); %> <% if (user) {%>
    <div class="personalBadge">
      <p>Welcome Back <%= user.username %>!</p>
      <% if (user.member) {%>
      <p>You are a member of this club</p>
      <% } %> <% if (user.admin) {%>
      <p>You are an admin of this club</p>
      <% }} %>
    </div>
    <% for(let message of message_list) {%>
    <div class="messageContainer">
      <div class="messageTop">
        <% if (!user || !user.member) {%>
        <p class="becomeMember">Become a member to see author and date</p>
        <% } else if (user.member) { %>
        <p><strong>Writen by: </strong><%= message.author.username %></p>
        <p><%= message.formatedDate %></p>
        <% } %>
      </div>
      <h3><%= message.title %></h3>
      <p><%= message.message %></p>
      <% if (user) {%> <% if (user.admin || message.author.username === user.username ) {%>
      <form action="/" method="POST">
        <input type="hidden" id="messageId" name="messageId" required="true" value="<%= message._id%>" />
        <input type="submit" value="Delete" class="deleteButton" />
      </form>
      <% }} %>
    </div>
    <% } if (user) { if (user.member) {%>
    <a href="/write-message" class="writeMessage">NEW MESSAGE</a>
    <% }} %>
  </body>
</html>
